@media (min-width: 320px) and (max-width: 767px){

    #banner .slides {
        width: -150%;
        height: 350px;
        background-size: cover;
        background-position: center;
    }
    element.style {
font-size: 18px;
    }
    #banner .sildescnt h2 {
        color: #1D1D1D;
        font-size: 18px;
        font-weight: 700;
        line-height: 74px;
    }

}